body{
    background-color: rgb(1, 1, 56);
    color: white;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.sobre{
    font-family: cursive;
    font-size: 35px;
}
div{
    font-size: 40px;
}
li:nth-child(odd){
    color: rgb(234, 112, 5);
    font-size: 25px;
}
#minhaFoto{
    width: 165px;
    border-radius: 35%;
    float:left;
    padding: 10px;
    background-color: rgb(2, 2, 67) ;
}